body {
    height: 100vh;
    margin: 0px;
    background-image: url("images/bluestars.gif");
    background-size: 200px;
    color: white;
    /* overflow: hidden; */
    animation: cursor 4000ms infinite;
    overflow-x: hidden;
}

* {
    margin: 0px;
    box-sizing: border-box;
}

#center_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

main {
    width: 70vw;
    max-width: 1080px;
    border-style: double;
    background-color: #000033;
    margin: 1rem;
    padding: 1rem;
}

main div {
    margin: 1rem 0rem;
}

p {
    margin: 0.5rem 0rem;
    text-align: justify;
}

marquee {
    width: fit-content;
    height: 1rem;
    padding: 0px;
}

#welcome {
    font-family: monospace;
    font-size: 72px;
    text-align: center;
    border-style: double;
    background-color: #000033;
    margin: 1rem;
    padding: 1rem 0rem 1rem 0rem;
    width: 70vw;
    max-width: 720px;
}

h3 {
    font-family: monospace;
}

footer {
    text-align: center;
    border-style: double;
    background-color: #000033;
    font-family: monospace;
    padding: 1rem;
    margin: 1rem;
}

a {
    color: pink;
}

a:hover {
    color: rgb(255, 230, 234);
}

@keyframes cursor {
    0% {cursor: url("/images/cursor/caticon1.png"), auto;}
    45% {cursor: url("/images/cursor/caticon1.png"), auto;}
    48% {cursor: url("images/cursor/caticon2.png"), auto;}
    51% {cursor: url("images/cursor/caticon3.png"), auto;}
    54% {cursor: url("images/cursor/caticon4.png"), auto;}
    57% {cursor: url("images/cursor/caticon5.png"), auto;}
    60% {cursor: url("images/cursor/caticon6.png"), auto;}
    63% {cursor: url("images/cursor/caticon7.png"), auto;}
    80% {cursor: url("images/cursor/caticon8.png"), auto;}
    85% {cursor: url("images/cursor/caticon9.png"), auto;}
    90% {cursor: url("images/cursor/caticon10.png"), auto;}
    100% {cursor: url("images/cursor/caticon11.png"), auto;}
}
